{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="content-section">
        <div class="media">
        <!--<img class="rounded-circle account-img" src="{{ image_file }}"> -->
        <div class="media-body">
            <h2 class="account-heading">Account Information</h2>
            <p class="text-secondary">Username: {{ current_user.username }}</p>
            <p class="text-secondary">Email: {{ current_user.company_email }}</p>
            <p class="text-secondary">Company: {{ current_user.companyname.company_name }}</p>
            <p class="text-secondary">Phone Number: {{ current_user.company_phone }}</p>
        </div>
      </div>


    </div>
    </div>
{% endblock content %}