{% extends "/layout.html" %}
{% block content %}
<h3>{{title | safe}}</h3>
<table class="table table-striped">
    <tr>
            <th>ID</th>
            <th>LANG</th>
            <th>FOUND</th>
            <th>COMMENT DATE</th>
            <th>USERNAME</th>
            <th>COMMENT</th>
            <th>LINK</th>
            <th>SUB</th>
            <th>POST TITLE</th>
            <th>DETAILS</th>
    </tr>
    {% for index, row in records.iterrows() %}
        {% set row_dict = row.to_dict() %}
        <tr>
            <td width="9%">{{ row['Date Found'] | safe }}</td>
            <td>{{ row['Username'] | safe }}</td>
            <td>{{ row['Primary'] | safe }}</td>
            <td>{{ row['Secondary'] | safe }}</td>
            <td>{{ row['Count'] | safe }}</td>
            <td>{{ row['Polarity'] | safe }}</td>
            <td>{{ row['Subjectivity'] | safe }}</td>
            <td width="9%">{{ row['Comment Date'] | safe }}</td>
            <td>{{ row['Language'] | safe }}</td>
            <td>{{ row['Link'] | safe }}</td>
            <td>{{ row['r/'] | safe }}</td>
            <td width="30%">{{ row['Submission Title'] | safe }}</td>

        </tr>
    {% endfor %}
</table>
<br></br>

{% if replies %}
   <hr></hr>
   <h3>Conversation</h3>
   {% set replies_len = replies|length %}
   {% for i in range(replies_len) %}
      <hr>
      {% set tag = i|string %}
      <button type="button" class="btn btn-light-link" data-toggle="collapse" data-target=#{{tag}}>Expand Conversation Reply {{i}}</button>
      <div id={{tag}} class="collapse">
         {{replies[i].message | safe}}
      </div>
   {% endfor %}
{% endif %}
<br></br>
<hr></hr>
<h3>User Comment</h3>
<p style="font-size:22px">{{ user_comment | safe }}</p>
<br></br>

<form method="post" action="">
    <input type="submit" value="Remove Record" name="Encrypt" class="btn btn-danger"/>
</form>
<br></br>
<hr></hr>

<H3>Send a Message</H3>
{% if not replies %}
<form method=post>
   {{form.hidden_tag()}}
   <dl>
      <dt>To:
      <dd>{{ form.recipient(cols="85", rows="1") }}
      <dt>Subject:
      <dd>{{ form.subject(cols="85", rows="1") }}
      <dt>Post:
      <dd>{{ form.body(cols="85", rows="17") }}
   </dl>
    <input name="message" type=submit value="Send Message" class="btn btn-success"/>
</form>
{% else %}
<h6>This was already messaged. This interface cannot be used to carry on a conversation.</h6>
{% endif %}
<br></br>
<br></br>
<br></br>
{% endblock %}