{% extends '/layout.html'%}
{% block content %}
<h2>Company Portal</h2>
<br>

{% endblock content %}

{% block content2 %}

<div class="container">
    <h4>Messaging Settings</h4>
    <hr>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#messaging">Messaging Settings</button>
    <br>
      <div id="messaging" class="collapse">
          <br>
          <h6>Current Subject:</h6>

          <p>{{ subject_content }}</p>
          <h6>Current Message:</h6>

          <p>{{ message_content }}</p>
          <form method=post>
               {{post_form.hidden_tag()}}
               <dl>
                  <dt>Subject:
                  <dd>{{ post_form.subject(cols="90", rows="1") }}
                  <dt>Post:
                  <dd>{{ post_form.body(cols="90", rows="17") }}
               </dl>
                <input name="message" type=submit value="Send Message" class="btn btn-success"/>
            </form>

      </div>

    <br>

    <h4>Reddit Account Info</h4>
    <hr>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#1">Reddit Account Info</button>

      <div id="1" class="collapse">
          <br>
         <ul style="list-style-type:square">
          <li>Username: {{ reddit.username }}</li>
          <li>Password: {{ reddit.password }}</li>
          <li>Client ID: {{ reddit.client_id }}</li>
          <li>Secret Key: {{ reddit.client_secret }}</li>
        </ul>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Update Account Info</div>
                        <div class="card-body">
                            <form name="my-form" method="POST" action="">
                                {{ form.hidden_tag() }}
                                <fieldset class="form-group">
                                    <div class="form-group row">
                                        {{ form.reddit_account_username.label(class="col-md-4 col-form-label text-md-right") }}
                                        <div class="col-md-6">
                                        {% if form.reddit_account_username.errors %}
                                            {{ form.reddit_account_username(class="form-control form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.reddit_account_username.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.reddit_account_username(class="form-control") }}
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        {{ form.reddit_password.label(class="col-md-4 col-form-label text-md-right") }}
                                        <div class="col-md-6">
                                        {% if form.reddit_password.errors %}
                                            {{ form.reddit_password(class="form-control form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.reddit_password.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.reddit_password(class="form-control") }}
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        {{ form.client_id.label(class="col-md-4 col-form-label text-md-right") }}
                                        <div class="col-md-6">
                                        {% if form.client_id.errors %}
                                            {{ form.client_id(class="form-control form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.client_id.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.client_id(class="form-control") }}
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        {{ form.client_secret.label(class="col-md-4 col-form-label text-md-right") }}
                                        <div class="col-md-6">
                                        {% if form.client_secret.errors %}
                                            {{ form.client_secret(class="form-control form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.client_secret.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.client_secret(class="form-control") }}
                                        {% endif %}
                                        </div>
                                    </div>

                                </fieldset>
                                    <div class="col-md-6 offset-md-4">
                                        {{ form.submit(class="btn btn-primary") }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

            </div>
      </div>


    <br>
    <br>

    <h4>Primary and Secondary Keyword Info</h4>
    <hr>
     <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#2">Keyword Info</button>
      <div id="2" class="collapse">
          <br>

    <form action = "{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
         <label class="btn btn-secondary" for="my-file-selector">
              <input name="file" id="my-file-selector" type="file" style="display:none"
              onchange="$('#upload-file-info').html(this.files[0].name)">
              choose file
         </label>

         <label class="btn btn-success">
              <input type = "submit" style="display:none"/>
              upload
         </label>

         <span class='label label-info' id="upload-file-info"></span>
    </form>
    <!-- Editable table -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dynamic_table.js') }}"></script>
    <div/>
</div>

<div class="row justify-content-center">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Primary
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> Secondary
        </label>

    </div>
</div>
<!-- Editable table -->
<br>
<div class="row justify-content-center">
    <div class="card">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Primary Keys</h3>
        <div class="card-body">
            <div id="table" class="table-editable">
                <span class="table-add float-right mb-3 mr-2"><p><a href="#!" class="btn btn-success">Add Row</a></p></span>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    <tr>
                        <th class="text-center">No.</th>
                        <th class="text-center">Primary Keyword</th>
                        <th class="text-center">Remove</th>
                    </tr>

                    {% for i in range(primary_keywords|length) %}
                        <tr class="hide">
                        <td class="pt-3-half" contenteditable="true">{{i+1}}</td>
                        <td class="pt-3-half" contenteditable="true">{{primary_keywords[i].primary_keyword}}</td>

                        <td>
                            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dynamic_table.js') }}"></script>
{% endblock content2 %}

