{% extends "/layout.html" %}
{%  block content %}


<div class="row justify-content-center">
    <div class="col-md-8">
            <br>
            <br>
            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">

                            <div class="form-group row">
                                {{ form.username.label(class="col-md-4 col-form-label text-md-right") }}
                                <div class="col-md-6">
                                {% if form.username.errors %}
                                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            <span> {{ error }} </span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="form-control") }}
                                {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ form.password.label(class="col-md-4 col-form-label text-md-right") }}
                                <div class="col-md-6">
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span> {{ error }} </span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control") }}
                                {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <div class="form-check">
                                    {{ form.remember(class="form-check-input")}}
                                    {{ form.remember.label(class="form-check-label")}}
                                </div>
                            </div>
                        </fieldset>
                        <div class="col-md-6 offset-md-4">
                                {{ form.submit(class="btn btn-primary") }}
                        </div>


                    </form>
                </div>
                <div class="row justify-content-center">
                        <div class="col-md-6 offset-md-4">
                            <small class="text-muted ml-2">
                                <a href="#">Forgot Password?</a>
                            </small>
                        </div>
                </div>
                <div class="row justify-content-center">
                    <small class="text-muted">
                        Need an Account? <a class="ml-2" href="{{ url_for('register') }}"> Sign Up </a>
                    </small>
                </div>

            </div>
    </div>
</div>


{%  endblock content %}