{% extends '/layout.html' %}
{% block content %}
{% for result in  results %}
<div class="row row-custom" >
<div class="d-flex p-2"></div>
    <div style = "position:relative; left: 85%;">
    <a href="#" class="btn btn-primary">More Info</a>
    </div>
    <div class="row"><h2 class="center-align">{{result['name']}}</h2></div>
    <div class="row">
        <div class="col-xs-4 col-lg-4 custom-col" style="padding-top: 2.2em; padding-left: 5.2em;">
            <img src="{{result['campus_photo']}}" class="img-responsive university-image"></img>
        </div>
        <div class="col-xs-7 col-lg-7 custom-col">
            <div>
                <div class="" style="minHeight: 340px;">
                    <div class="card mt-3 tab-card" >
                        <div class="card-header tab-card-header">
                            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="one-tab" data-toggle="tab" href="#gen_ref_{{loop.index}}" role="tab" aria-controls="One" aria-selected="true">General</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="two-tab" data-toggle="tab" href="#demo_ref_{{loop.index}}" role="tab" aria-controls="Two" aria-selected="false">Demographics</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="three-tab" data-toggle="tab" href="#fin_ref_{{loop.index}}" role="tab" aria-controls="Three" aria-selected="false">Financial</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="four-tab" data-toggle="tab" href="#stats_ref_{{loop.index}}" role="tab" aria-controls="Three" aria-selected="false">Statistics</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent"  style="min-height: 280px">
                            <div class="tab-pane fade show active p-3" id="gen_ref_{{loop.index}}" role="tabpanel" aria-labelledby="one-tab">
                                <h5 class="card-title">General</h5>
                                <p>
                                    Name: {{result['name']}}<br/>
                                    City: {{result['city']}}<br/>
                                    Zip: {{result['zip']}} <br/>
                                    County: {{result['county']}} <br/>
                                    States: {{result['state']}}<br/>
                                    Region: {{result['region_id']}} <br/>
                                    Timezone: {{result['timezone']}}<br/>
                                    School Website: <a href="{{result['school_url']}}">{{result['school_url']}}</a> <br/>

                                </p>
                            </div>
                            <div class="tab-pane fade p-3" id="demo_ref_{{loop.index}}" role="tabpanel" aria-labelledby="two-tab" >
                                <h5 class="card-title">Demographics</h5>
                                <p>
                                    Number of Students: {{result['attendance_academic_year']}}<br/>
                                    Minority Serving Predominantly Black: {{ True if result['minority_serving_predominantly_black'] else False}} <br/>
                                    Minority Serving Historically Black: {{ True if result['minority_serving_historically_black'] else False}} <br/>
                                    Minority Serving Eskimo: {{ True if result['minority_serving_annh'] else False}} <br/>
                                    Minority Serving Tribal: {{ True if result['minority_serving_tribal'] else False}} <br/>
                                    Minority Serving Hispanic: {{ True if result['minority_serving_hispanic'] else False}} <br/>
                                    Minority Serving Asian: {{ True if result['minority_serving_aanipi'] else False}} <br/>
                                    Minority Serving Native American: {{ True if result['minority_serving_nant'] else False}} <br/>
                                </p>
                            </div>
                            <div class="tab-pane fade p-3" id="fin_ref_{{loop.index}}" role="tabpanel" aria-labelledby="three-tab">
                                <h5 class="card-title">Financial</h5>
                                <p>
                                    In-state Tuition: ${{result['tuition_in_state']}} <br/>
                                    Out of State Tuition: ${{result['tuition_out_state']}} <br/>
                                    Instructional Expenditure Per FTE: ${{result['instructional_expenditure_per_fte']}} <br/>
                                    Price Calculator for School: <a href="{{result['price_calculator_url']}}">{{result['price_calculator_url']}}</a><br/>
                                    Average Monthly Faculty Salary: ${{result['faculty_salary']}} <br/>
                                </p>
                            </div>
                            <div class="tab-pane fade p-3" id="stats_ref_{{loop.index}}" role="tabpanel" aria-labelledby="three-tab">
                                <h5 class="card-title">Statistics</h5>
                                <p>
                                    Admission Rate Overall: {{result['admission_rate_overall']|float *100}}%<br/>
                                    Completion Rate: {{result['completion_rate_4yr_150nt']|float *100 + result['completion_rate_less_than_4yr_150nt']|float *100}}% <br/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <hr/>
        </div>

    </div>


</div>
{%endfor%}

{% endblock content %}